$fontFamily: Roboto, 'Helvetica Neue', Arial, sans-serif;
$primaryColor: #1e8dc1;

$boxShadow-xxl: 2px 2px 24px rgba(0, 0, 0, 0.1);
$boxShadow-xl: 2px 2px 21px rgba(0, 0, 0, 0.1);
$boxShadow-lg: 2px 2px 18px rgba(0, 0, 0, 0.1);
$boxShadow-md: 2px 2px 15px rgba(0, 0, 0, 0.1);
$boxShadow-sm: 2px 2px 12px rgba(0, 0, 0, 0.1);
$boxShadow-xs: 2px 2px 9px rgba(0, 0, 0, 0.1);
$boxShadow-xxs: 2px 2px 4px rgba(0, 0, 0, 0.1)