@import "https://js.arcgis.com/4.19/@arcgis/core/assets/esri/themes/light/main.css";
@import '@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css';
@import "./styles/variables.scss";

html,
body,
#app {
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: $fontFamily;

    a {
        color: $primaryColor;
        font-weight: 600;
    }

    i {
        &.material-icons {
            font-size: .75rem;
        }
    }

    input {
        padding: .5rem .75rem;
        border: solid 1px $borderColor;

        &:hover:enabled,
        &:active:enabled,
        &:focus:enabled {
            border: solid 1px $primaryColor;
            color: $primaryColor;
        }
    }

    button,
    textarea,
    select,
    input[type=submit] {
        font-weight: 500;
        color: #333;
        border: solid 1px $borderColor;
        background-color: #fff;
        padding: .5rem .75rem;
        cursor: pointer;
        &:hover:enabled,
        &:active:enabled,
        &:focus:enabled {
            border: solid 1px $primaryColor;
            color: $primaryColor;
            font-weight: 600;
        }

        &:disabled {
            color:gray;
            cursor:default;
        }
        
        &.full-width {
            width: 100%;
        }

        &.inverse-colors {
            border: solid 1px $borderColor;
            background: $primaryColor;
            color: #fff;

            &:hover:enabled {
                color: $primaryColor;
                border-color: $primaryColor;
                background-color: #fff;
            }
        }

        &.danger {
            border: solid 1px red;
            color: red;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Oswald', sans-serif;
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin: 0;
        margin-top: .5rem;
        margin-bottom: 1rem;
        font-variant: all-small-caps;
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1.15rem;
    }

    h4 {
        font-size: 1.05rem;
    }

    form {

        input,
        textarea,
        select {
            margin-bottom: .5rem;
        }

        label {
            display: inline;
            width: 100%;

            &.required::before {
                content: "* ";
                color: #c41a1a;
            }

            select,
            input,
            textarea {
                margin-top: 0.5rem;
            }

        }
    }

    #custom-order-form,
    #collection-contact-form,
    .wizard-form {

        label {
            display: block;
            width: 100%;

            &+label {
                margin-top: 1rem;
            }

            &.required::before {
                content: "* ";
                color: #c41a1a;
            }

            select,
            input,
            textarea {
                margin-top: 0.5rem;
                display: block;
                max-width: 100%;
                min-width: 80%;
            }

        }

        input[type=submit] {
            width: 100%;
        }
    }
}