@import "https://js.arcgis.com/4.19/@arcgis/core/assets/esri/themes/light/main.css";
@import '@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css';
@import "./styles/variables.scss";

html,
body,
#app {
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: $fontFamily;
    a {
        color: $primaryColor;
        font-weight: 600;
    }
    i {
        &.material-icons {
            font-size: .75rem;
        }
    }

    input {
        padding: .5rem .75rem;
        border: solid 1px $borderColor;
        border-radius: .25rem;

        &:hover,
        &:active,
        &:focus {
            border: solid 1px $primaryColor;
            color: $primaryColor;
        }
    }

    button,
    select {
        font-weight: 500;
        color: #333;
        border: solid 1px $borderColor;
        background-color: #fff;
        padding: .5rem .75rem;
        border-radius: .25rem;
        cursor: pointer;

        &:hover,
        &:active,
        &:focus {
            border: solid 1px $primaryColor;
            color: $primaryColor;
            font-weight: 600;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin: 0;
        margin-top: .5rem;
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.25rem;
    }
    h3 {
        font-size: 1.15rem;
    }
    h4 {
        font-size: 1.05rem;
    }

    #custom-order-form {
        label {
          display: block;
          & + label {
            margin-top: 1rem;
          }
          &.required::before {
            content: "* ";
            color: #c41a1a;
          }
          select,
          input,
          textarea {
            margin-top: 0.5rem;
            display: block;
          }
        }
      }
}