@import "https://js.arcgis.com/4.19/@arcgis/core/assets/esri/themes/light/main.css";
@import "./styles/variables.scss";

html,
body,
#app {
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: $fontFamily;

    input {
        padding: .5rem .75rem;
        border: solid 1px $borderColor;
        border-radius: .25rem;

        &:hover,
        &:active,
        &:focus {
            border: solid 1px $primaryColor;
            color: $primaryColor;
        }
    }

    button,
    select {
        color: #333;
        border: solid 1px $borderColor;
        background-color: #fff;
        padding: .5rem .75rem;
        border-radius: .25rem;
        cursor: pointer;

        &:hover,
        &:active,
        &:focus {
            border: solid 1px $primaryColor;
            color: $primaryColor;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin: 0;
        margin-bottom: 0px;
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}